<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 order-0">
                <div class="footer__logo">
                    <picture>
                        <source media="(max-width: 991px)" srcset="img/logo-bottom-mobile.png">
                        <img src="img/logo.svg" alt="">
                    </picture>
                    
                </div>
            </div>
            <div class="col-lg-4 col-12 order-lg-1 order-2">
                <div class="footer__socials">
                    <div class="footer__socials-item h5 text-primary">
                        <img src="img/phone.svg" alt="">
                        Telegram
                    </div>
                    <div class="footer__socials-item h5 text-primary">
                        <img src="img/phone.svg" alt="">
                        Telegram
                    </div>
                    <div class="footer__socials-item h5 text-primary">
                        <img src="img/phone.svg" alt="">
                        Telegram
                    </div>
                    <div class="footer__socials-item h5 text-primary">
                        <img src="img/phone.svg" alt="">
                        Telegram
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 order-lg-2 order-1">
                <div class="footer__contacts">
                    <div class="header-links__contacts-phone">
                        <img src="img/phone.svg" alt="">
                        <a href="">
                            201-00-00
                        </a>
                    </div>
   
                    <a href="" class="btn btn-primary">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer__policy text-primary">
                    (c) 2023, Все права защищены. <a href="">Политика конфедициальности.</a>
                </div>
                
            </div>
        </div>
    </div>
</footer>
