<header class="header">
    <div class="container h-100">
        <div class="header-wrap row">
            <div class="col-4 order-lg-0 order-1">
                <div class="header-logo">
                    <picture>
                        <source media="(max-width: 991px)" srcset="img/logo.svg">
                        <img src="img/logo.svg" alt="">
                    </picture>

                </div>
            </div>
            <div class="col-lg-2 col-4 order-lg-1 order-0">
                <div class="header-menu">
                    <div class="header-menu__lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="text">
                        Меню
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-4 order-2">
                <div class="header-links">
                    <div class="header-links__contacts">
                        <div class="header-links__contacts-phone">
                            <img src="img/phone.svg" alt="">
                            <a href="" >
                                +7 347 226-17-91
                            </a>
                        </div>
                        <p>г. Уфа, ул. Братьев Кадомцевых, д. 17</p>
                    </div>

                    <a href="" class="btn btn-primary" data-fancybox data-src="#callorder">УЗНАТЬ ПОДРОБНЕЕ</a>
                </div>
            </div>

        </div>

    </div>

    <nav class="navigation">
        <ul class="navigation__list">
            <li><a href="">Локация и окружение</a></li>
            <li><a href="">Архитектура и лобби</a></li>
            <li><a href="">Дата-центр и Face ID</a></li>
            <li><a href="">Зеленые технологии</a></li>
            <li><a href="">Здоровье и рекреация</a></li>
            <li><a href="">Галерея</a></li>
            <li><a href="">Ипотека и рассрочка</a></li>
            <li><a href="">Контакты</a></li>
        </ul>

        <div class="navigation-links d-lg-none d-block">
            <div class="navigation-links__contacts">
                <div class="navigation-links__contacts-phone">
                    <img src="img/phone.svg" alt="">
                    <a href="" >
                        +7 347 226-17-91
                    </a>
                </div>
                <p>г. Уфа, ул. Братьев Кадомцевых, д. 17</p>
            </div>
        </div>
    </nav>
</header>
