<section id="progress">
    <div class="container pt-80">
        <div class="row">
            <div class="col-12">
                <div class="h1 text-up text-primary mb-80">Ход строительства</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-12 offset-lg-1">
                <div class="progress-list">
                    <div class="progress-list__item">
                        <div class="progress-list__item-top">
                            <div class="name">Июнь, 2023</div>
                            <div class="date">30.06.2023</div>
                        </div>
                        <div class="progress-list__item-img">
                            <img src="/img/progress.png" alt="" data-fancybox="progress1">
                            <img class="d-none" src="/img/progress.png" alt="" data-fancybox="progress1">
                        </div>
                    </div>

                    <div class="progress-list__item">
                        <div class="progress-list__item-top">
                            <div class="name">Июнь, 2023</div>
                            <div class="date">30.06.2023</div>
                        </div>
                        <div class="progress-list__item-img">
                            <img src="/img/progress.png" alt="" data-fancybox="progress1">
                            <img class="d-none" src="/img/progress.png" alt="" data-fancybox="progress1">
                        </div>
                    </div>

                    <div class="progress-list__item">
                        <div class="progress-list__item-top">
                            <div class="name">Июнь, 2023</div>
                            <div class="date">30.06.2023</div>
                        </div>
                        <div class="progress-list__item-img">
                            <img src="/img/progress.png" alt="" data-fancybox="progress1">
                            <img class="d-none" src="/img/progress.png" alt="" data-fancybox="progress1">
                        </div>
                    </div>
                    
                </div>
            </div>
            <ul class="pagination mt-80">
                <li>назад</li>
                <li class="pagination-button active">1</li>
                <li class="pagination-button">2</li>
                <li class="pagination-button">3</li>
                <li>вперед</li>
            </ul>
        </div>
    </div>
    <img class="progress__pattern-1 pattern-vertical" src="img/pattern-vertical.svg" alt="">
    <img class="progress__pattern-2 pattern-vertical" src="img/pattern-vertical.svg" alt="">
    <img class="progress__pattern-3 pattern-vertical" src="img/pattern-vertical.svg" alt="">
    <img class="progress__pattern-4 pattern-single" src="img/pattern-single.svg" alt="">
    <img class="progress__pattern-5 pattern-single" src="img/pattern-single.svg" alt="">
</section>