<section class="main-broadcast">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1 text-primary mb-80">ОНЛАЙН ТРАНСЛЯЦИЯ</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-12 d-flex flex-column main-broadcast__texts">
                <div class="h3 text-primary ">СЛЕДИТЕ ЗА САМЫМИ АКТУАЛЬНЫМИ ИЗМЕНЕНИЯМИ НА ПЛОЩАДКЕ В РЕЖИМЕ ОНЛАЙН</div>
                <div class="h5 text-lg-end text-primary mt-auto">Камера расположена: <br> В городе Уфа, по улице б.Кадомцевых</div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="main-broadcast__wrap">
                    <iframe src="https://rtsp.me/embed/56iRSF3E/" frameborder="0" allowfullscreen></iframe>
                </div>
                
            </div>
        </div>
    </div>
    <img class="main-broadcast__pattern-2 pattern-vertical big" src="img/pattern-vertical.svg" alt="">
</section>